@page
@model GestionLivre.Pages.Auteurs.IndexModel
@{
    ViewData["Title"] = "Auteurs";
}


<div id="main_container">
    <!-- heading start -->
    <div class="heading-container">
        <div class="heading">
            <div class="heading_title">
                <div class="heading_links">
                    <a href="index">Dashboard</a>
                    <i class='bx bx-chevron-right'></i>
                    <a asp-page="/Index" class="current_link">@ViewData["Title"]</a>
                </div>
                <h2>@ViewData["Title"]</h2>
            </div>
            <div class="heading_btn">
                <a class="a_btn_primary" asp-page="Create">
                    <i class='bx bx-plus'></i>
                    Ajouter
                </a>
            </div>
        </div>
    </div>
    <!-- heading end -->
    @* alert start *@
    
    @if(!String.IsNullOrEmpty(@Model.resultMessage)){
        @await Html.PartialAsync("components/alert")
    }

    @* alert end *@
    <!-- controls start -->
    @if (!string.IsNullOrEmpty(Model.search))
    {
        <section class="controls">

            <div class="results_for">
                (@Model.listeAuteurs.Count) résultats trouvés pour <span> @Model.search</span>
            </div>
            <div>
                <div class="search_bar">
                    <form method="get">
                        <input type="text" id="search" name="search" placeholder="Rechercher par n'importe quel critère..."
                            value="@Model.search">
                        @* <button><i class='bx bx-search'></i></button> *@
                        <button type="submit">Search</button>
                    </form>
                </div>
                <a asp-page="Index" class="reset_btn">
                    <i class='bx bx-reset'></i>
                </a>
            </div>
        </section>
    }
    else
    {
        <section class="controls_lone">
            <div class="search_bar_lone">
                <div class="search_bar">
                    <form method="get">
                        <input type="text" id="search" name="search" placeholder="Rechercher par n'importe quel critère..."
                            value="@Model.search">
                        @* <button><i class='bx bx-search'></i></button> *@
                        <button type="submit">Search</button>
                    </form>
                </div>
                <a asp-page="Index" class="reset_btn">
                    <i class='bx bx-reset'></i>
                </a>
            </div>
        </section>
    }
    <!-- <div class="buttons_bar">

                    <a href="#" class="a_btn_secondary"><i class='bx bx-export'></i> Excel</a>
                </div> -->
    <!-- controls end -->

    @* <p>
    <a class="td-actions" asp-page="Create">Create New</a>
    </p> *@
    @if (Model.listeAuteurs == null || Model.listeAuteurs.Count == 0)
    {


        <div class="not_found">
            <img src="/img/notfound.png" alt="notfound ">
            <h1>Aucun résultat trouvé</h1>
            <p>N'hésitez pas à cliquer sur le bouton réinitialiser pour voir tous les enregistrements ou <a
                    asp-page="Create">Ajouter un nouveau enregistrement</a></p>
        </div>
    }
    else
    {
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Email</th>
                        <th>TelePhone</th>
                        <th>Adresse</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var auteur in Model.listeAuteurs)
                    {
                        <tr>
                            <td>@auteur.id</td>
                            <td>@auteur.nom</td>
                            <td>@auteur.email</td>
                            <td>@auteur.telephone</td>
                            <td>@auteur.adresse</td>
                            <td>
                                <a class="td-actions" asp-page="Details" asp-route-id="@auteur.id"><i
                                        class='bx bx-right-arrow-alt'></i></a>
                                <a class="td-actions" asp-page="Update" asp-route-id="@auteur.id"><i
                                        class='bx bx-pencil'></i></a>
                                <a class="td-actions trigger_delete_modal" asp-page="Delete" asp-route-id="@auteur.id"><i
                                        class='bx bx-trash'></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</div>

@section Scripts{
     @await Html.PartialAsync("components/loader")
}
